body {
    background-image: url("https://image.freepik.com/free-photo/design-space-paper-textured-background_53876-42312.jpg");
    font: 14px "cursive", Futura, sans-serif;
    margin: 20px;
  }

  .cursive {
    font-family: cursive;
  }
  
  ol, ul {
    padding-left: 30px;
    list-style: none;
  }
  
  .myContainer
  {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 30%;
  }

  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }

  .title
  {
    font-family: cursive;
    color: blue;
    text-align: center;
    font-size: 100px;
    margin: 0%;
  }
  
  .square {
    
    border: 1px solid #999;
    float: left;
    font-size: 124px;
    font-weight: bold;
    line-height: 134px;
    height: 134px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 134px;
    font-family: cursive;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: -20px;
  }

  .bold{
      font-weight: bold;
  }

  .winLine{
      color: red;
  }

  .list
  {
    margin: 5px;
  }

  .status
  {
    margin-left: 40%;
    font-family: cursive;
    font-size: 45px;
  }

  
  